@import "tailwindcss";

:root {
    --background: #fafafa;
}

@theme inline {
    --color-background: var(--background);
    --font-hindi: var(--font-poppins);
    --color-primary: #FE5F00;
    --color-main: #010000;
    --color-secondary: #737373;
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }

    @keyframes marquee-vertical {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(calc(-100% - var(--gap)));
        }
    }

}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    font-family: var(--font-satoshi);
}

#social-links li a {
    font-size: 15px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    line-height: 32px;
    text-align: center;
    position: relative;
    display: block;
}

#social-links li a::after {
    position: absolute;
    content: attr(data-text);
    left: 50%;
    line-height: 30px;
    transform: translateX(-50%);
    transition: .3s;
}

#social-links li a:hover::after {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(2);
}

#social-links li a i {
    display: inline-block;
    transform: scale(0);
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

#social-links li a:hover i {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
    /* If you want to change the icon color on hover */
}

.input {
    @apply w-full rounded-md border border-main/10 bg-white p-4 focus:outline-none;
}

#details .hover {
    background: black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 4));
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 70px 0 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

#details:hover .hover {
    visibility: visible;
    opacity: 1;
}

#details:hover .hover img {
    transform: scale(1.1);
}

.circle,
.shape {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.circle:before {
    background-color: #FE5F00;
    content: '';
    height: 800px;
    width: 800px;
    position: absolute;
    top: -400px;
    left: -350px;
    border-radius: 100%;
    opacity: 0.2;
    z-index: -1;
}

.shape:after {
    background-color: #FE5F00;
    content: '';
    width: 50%;
    height: 680px;
    position: absolute;
    top: 330px;
    right: -150px;
    border-radius: 100%;
    -webkit-transform: skew(3deg, 30deg);
    -ms-transform: skew(3deg, 30deg);
    transform: skew(5deg, 10deg);
    opacity: 0.3;
    z-index: -1;
}

@media not all and (min-width: 1024px) {

    .circle,
    .shape {
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: none;
    }
}
